
<%= form_for(:session, url: sessions_path, html: {class:"form-signin", role: "form"}) do |f| %>
 <h2>Entrar no Sistema</h2>

  <%= f.text_field :login, size: 20, class: "form-control", placeholder: "Login",required: true, autofocus: true %> <br />
  <%= f.password_field :password, class: "form-control", placeholder: "Senha", required: true %>
  <br />
  <%= f.submit "Entrar", class: "btn btn-primary" %>
  
<% end %>


