<h3>Resumo por Cidade</h3>
<% @item_advances.each do |item| %> 
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= item.cidade %></h3>
    </div>
    <div class="panel-body">
      Total Diária:  <%= item.valor %> <br />
      Total Cobrado: <%= item.valor_pago %> <br />
    </div>
  </div>
<% end %>